body{
    margin: 8px;
}

div{
    text-align: center;
}
h1{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
P{
    font-size: 35px;
}
button{
    width: 250px;
    height: 80px;
    color: white;
    background-color: blue;
}
button:hover{
    background-color: green;
}